<!-- <div class="col-md-offset-1 col-md-4">
    <form class="form-horizontal ">

        <div class="form-group">
            
            <label class="col-sm-2 control-label">Student id : </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="studentId" placeholder="Student id">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Student name : </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="studentName" placeholder="Name">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Pen amount : </label>
            <div class="col-sm-10 form-inline">
                <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="downQuantity(student)">-
        </button>
                <input type="text" class="col-md-1 form-control input-amount" value="0">
                <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="upQuantity(student)">+
        </button>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">File input : </label>
            <div class="col-sm-10">
                <input type="file" class="btn btn-default" id="exampleInputFile">
                <p class="help-block">Leave here for the file preview later.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Description : </label>
            <div class="col-sm-10">
                <textarea class="form-control" id="studentDescription" placeholder="Description" row="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </div>
    </form>
</div> -->

<div style="margin: 1%">
    <h2>Add Student</h2>
    <form class="form-horizontal ">
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Student id">
            </mat-form-field>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="First name">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="Last name">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Pen amount : </label>
            <div class="col-sm-10 form-inline">
                <button type="button" mat-raised-button color="primary" (click)="downQuantity(student)">-
          </button>
                <mat-form-field style="width: 5%;text-align: center">
                    <input matInput placeholder="Input" value="0">
                </mat-form-field>
                <button type="button" mat-raised-button color="primary" (click)="upQuantity(student)">+
          </button>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="Will change to the upload componenet later">
                <input matInput placeholder="File name">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <textarea matInput placeholder="Description"></textarea>
            </mat-form-field>
        </div>
        <div class="form-group" align="center">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" mat-raised-button color="primary">Add</button>
            </div>
        </div>
    </form>
</div>