<div>
    <div class="row justify-content-center">
        <h1>Hello {{name}}</h1>
    </div>
    <div>
        <!-- <app-students></app-students> -->
        <app-my-nav>

        </app-my-nav>

    </div>
</div>